.cart-wrapper {
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.cart-summery {
  background-color: brown;
  width: 50%;
  padding: 20px;
}

.cart-total {
  background-color: var(--color-19);
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 5px;
  & h3 {
    font-size: 1.5rem;
  }
}
.cart-total-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.cart-total-info form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.cart-total-info form label {
  display: flex;
  gap: 5px;
  cursor: pointer;
}
.cart-total-info form textarea {
  padding: 10px;
}
.cart-total-details {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}
.cart-total-details p:last-child {
  color: var(--color-2);
}
.cart-total button {
  padding: 10px 15px;
  width: 60%;
  margin: 0 auto;
  border: none;
  background-color: var(--color-2);
  cursor: pointer;
  font-size: 1.1rem;
  &:hover {
    background-color: var(--color-6);
  }
  & a {
    color: var(--color-1);
    text-decoration: none;
  }
}
.cart-total-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.cart-total-footer div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-total-footer div img {
  width: 285px;
  height: 25px;
}
.table-wrapper {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}
.table-wrapper table {
  background-color: chocolate;
  width: 100%;
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;
}
.table-wrapper table thead {
  background-color: aquamarine;
  border-collapse: collapse;
}
.table-wrapper table thead th {
  padding: 12px;
  text-align: center;
}
/* .cart-summery-products {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cart-summery-products-items {
  width: 100%;
  background-color: coral;
  display: flex;
  gap: 10px;
}
.cart-summery-products-items-close button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  & svg {
    color: var(--color-7);
    width: 17px;
    height: 17px;
  }
}
.cart-summery-products-items-picture {
  width: 100px;
  height: 100px;
}
.cart-summery-products-items-picture img {
  width: 100%;
  height: 100%;
}
.cart-summery-products-items-details {
  background-color: darkgoldenrod;
} */
@media screen and (max-width: 900px) {
  .cart-wrapper {
    flex-direction: column;
  }
  .cart-summery,
  .cart-total {
    width: 100%;
  }
  .cart-total button {
    width: 100%;
  }
}
