.store-swiper {
  width: 100%;
  padding-bottom: 30px;
}

.store-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
