/* search-modal */
.search-modal {
  width: 100%;
  position: absolute;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.322);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.search-modal-overlay {
  background-color: var(--color-1);
  width: 100%;
  /* min-height: 150px; */
  /* height: 200px; */
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll; */
  gap: 10px;
}
.search-modal-close {
  text-align: right;
}
.search-modal-close button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.search-wrapper {
  position: relative;
}
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input-wrapper {
  position: relative;
  display: inline-block;
  width: 60%;
}

.search-input-wrapper input {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--color-17);
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
}

.search-input-wrapper button {
  position: absolute;
  right: 10px;
  top: 55%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  color: #555;
}

/* result */
.serach-modal-result-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.serach-modal-result {
  width: 80%;
  background-color: var(--color-19);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
  padding: 20px;
  height: 400px;
  overflow-y: auto;
}
.search-result-item {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}
.search-result-item-media {
  width: 100px;
  height: 100px;
}
.search-result-item img {
  width: 100%;
  height: 100%;
}
.search-result-item-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  flex: 1;
}
.search-result-item-info p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  & ins {
    text-decoration: none;
    color: var(--color-2);
  }
  & del {
    color: var(--color-13);
  }
}
.search-result-item-info a {
  text-decoration: none;
  color: var(--color-16);
}
.search-result-item-info a:hover {
  color: var(--color-2);
}
@media screen and (max-width: 500px) {
  .search-input-wrapper {
    width: 100%;
  }
  .serach-modal-result {
    width: 100%;
  }
}
