/* search-modal */
.search-modal {
  width: 100%;
  position: absolute;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.322);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.search-modal-overlay {
  background-color: var(--color-1);
  width: 100%;
  max-height: 200px;
  position: relative;
  padding: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.search-modal-close {
  text-align: right;
}
.search-modal-close button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.search-modal-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input-wrapper {
  position: relative;
  display: inline-block;
  width: 60%;
}

.search-input-wrapper input {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--color-17);
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
}

.search-input-wrapper button {
  position: absolute;
  right: 10px;
  top: 55%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  color: #555;
}
@media screen and (max-width: 500px) {
  .search-input-wrapper {
    width: 100%;
  }
}
