.scroll-to-top {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: var(--color-2);
  z-index: 6000;
  bottom: 50px;
  right: 30px;
  cursor: pointer;
  & svg {
    width: 24px;
    height: 24px;
    fill: var(--color-1);
  }
}
.scroll-to-top.hidden {
  display: none;
}
