.product-category-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  padding-block: 10px;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  /* background-color: brown; */
}
.product-category-item {
  /* padding: 30px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  color: var(--color-16);
  flex: 0 0 400px;
  scroll-snap-align: start;
  position: relative;
}

.product-category-item-data {
  background-color: var(--color-15);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.product-category-item-data img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.product-category-item:hover .product-category-item-data > img {
  transform: scale(1.1);
}
.product-category-item button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  background-color: var(--color-1);
  padding: 21px 20px;
  max-width: 350px;
  max-height: 60px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-10);
}
/* اسکرول افقی */
.product-category-wrapper::-webkit-scrollbar {
  height: 8px; /* ضخامت */
}

.product-category-wrapper::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.186); /* پس‌زمینه ریل */
  border-radius: 4px;
}

.product-category-wrapper::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); /* دسته اسکرول */
  border-radius: 4px;
  transition: background 0.3s ease;
}

.product-category-wrapper::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4); /* وقتی موس روشه */
}
@media screen and (max-width: 768px) {
  .product-category-wrapper {
    padding-inline: 10px;
  }
  .product-category-item {
    flex: 0 0 250px;
    scroll-snap-align: start;
  }
}
