.homeWrapper {
  width: 100%;
  height: 200px;
  background-color: darkgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.homeWrapper button {
  width: 60px;
  height: 30px;
}
