.layout {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.header-top {
  background-color: var(--color-6);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--color-1);
} /* header-top-left */
.header-top-inner {
  padding: 10px;
}
.header-top-inner a {
  color: var(--color-1);
} /* header-top-right */
.header-top-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.header-top-menu li {
  position: relative;
}
.header-top-menu li a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-1);
}
.header-top-menu li:not(:last-child)::after {
  content: "|";
  position: absolute;
  right: -10px;
  top: 0;
  color: var(--color-9);
} /* header-bottom */
.header-bottom {
  width: 100%;
  position: relative;
}
.header-bottom-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  /* background-color: cornflowerblue;  */
  flex-wrap: wrap;
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 43px;
  left: 0;
  gap: 10px;
  height: 80px;
}
.toggle-menu-icon {
  width: 30px;
  height: 30px;
  fill: var(--color-4);
  display: none;
}
.header-bottom-details-sticky {
  top: 0;
  background-color: var(--color-1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.header-bottom-details-logo {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header-bottom-details-menu {
  /* background-color: blueviolet; */
  height: 100%;
}
.header-buttom-menu {
  list-style: none;
  display: flex;
  gap: 40px;
  height: 100%;
}
.header-buttom-menu li {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  transition: border-top 0.3s ease;
}
.header-buttom-menu li:hover {
  border-top: 2px solid var(--color-2);
}
.header-buttom-menu li a {
  text-decoration: none;
  color: var(--color-16);
  font-weight: 600;
  letter-spacing: 1.2px;
}
.header-buttom-menu li:hover a {
  color: var(--color-2);
}
/* icon list */
.header-bottom-menu-icon {
  list-style: none;
  display: flex;
  gap: 10px;
}
.menu-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}
.menu-arrow svg {
  width: 14px;
  height: 14px;
}
.header-buttom-menu li:hover .menu-arrow svg {
  transform: rotate(180deg);
  fill: var(--color-2);
}
.header-bottom-menu-icon li a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: var(--color-4);
  position: relative;
  align-items: center;
  justify-content: center;
}
.header-bottom-details-icon svg {
  width: 24px;
  height: 24px;
  color: var(--color-10);
}
.badge {
  position: absolute;
  top: -5px;
  right: -8px;
  background-color: var(--color-2);
  color: var(--color-14);
  font-size: 11px;
  line-height: 1;
  border-radius: 50%;
  padding: 3px 5px;
  min-width: 16px;
  text-align: center;
  font-weight: 600;
  pointer-events: none; /* برای جلوگیری از بلاک شدن کلیک */
}
/* mega menu */
.mega-menu {
  width: 100%;
  background-color: var(--color-1);
  padding-inline: 50px;
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  align-items: center;
  animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes scale-up-ver-top {
  0% {
    transform: scaleY(0.4);
    transform-origin: 100% 0;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0;
  }
}
.header-buttom-menu li:hover .mega-menu {
  display: grid;
}

.mega-submenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background-color: rgb(118, 184, 11); */
  height: 100%;
}
.mega-submenu:not(:last-child) {
  padding: 20px;
}
.mega-submenu h4 {
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--color-16);
}
.mega-item {
  color: var(--color-12);
  border-left: 1px solid var(--color-17);
  /* background-color: rgb(48, 121, 22); */
  padding: 10px;
}
.mega-item a {
  color: var(--color-16) !important;
}
.mega-submenu-image {
  width: 100%;
  height: 250px;
}
.mega-submenu-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
} /* mobile Menu */ /* modal menu */
.modal {
  width: 100%;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.322);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.modal-overlay {
  width: 100%;
  background-color: var(--color-1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  animation: scale-up-hor-left 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes scale-up-hor-left {
  0% {
    transform: scaleX(0.4);
    transform-origin: 0 0;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0 0;
  }
} /* close icon */
.close-menu-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.close-menu-item {
  background-color: var(--color-14);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.close-menu-item:hover {
  background-color: var(--color-2);
  & .close-menu-icon {
    fill: var(--color-1);
  }
}
.close-menu-icon {
  width: 30px;
  height: 30px;
  fill: var(--color-4);
}
.mobile-top-menu-wrapper {
  /* background-color: cornflowerblue; */
  padding: 10px;
}
.mobile-top-menu-first {
  /* background-color: darksalmon; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px solid var(--color-17);
  padding: 10px;
}
.mobile-top-menu-second {
  /* background-color: rgb(122, 233, 124); */
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}
.mobile-menu-wrapper-bottom {
  /* background-color: rgb(169, 68, 34); */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mobile-top-menu-first li a,
.mobile-top-menu-second li a {
  text-decoration: none;
  color: var(--color-4);
}
.mobile-bottom-menu-icon {
  /* background-color: darkgreen; */
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
  & svg {
    width: 18px;
    height: 18px;
    fill: var(--color-4);
  }
}

.mobile-bottom-menu-icon li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color-4);
}

/* footer */
.footer {
  width: 100%;
  background-color: var(--color-6);
  color: var(--color-1);
}

/* footer-top */
.footer-top {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(0px, 1fr) minmax(0px, 2fr) minmax(0px, 1fr);
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 80px;
  border-bottom: 1px solid var(--color-9);
}

/* footer-top-left  */
.footer-top-left {
  display: flex;
  flex-direction: column;
}
.footer-top-left h2,
.footer-top-right h2,
.footer-top-center h2 {
  margin-bottom: 20px;
}
.footer-top-left p {
  line-height: 1.5;
}
.footer-top-left-icon {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 15px;
}

/* footer-top-center  */
.footer-top-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.footer-top-center ul li {
  margin-top: 10px;
  text-transform: capitalize;
}
.footer-top-center ul li a {
  color: var(--color-1);
  text-decoration: none;
}
.footer-top-center ul li:hover a {
  color: var(--color-2);
}

/* footer-top-right  */
.footer-top-right svg {
  width: 20px;
  height: 20px;
}
.footer-top-right-wrapper-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.footer-top-right-info {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  line-height: 1.5;
}
.footer-top-right-info > p > a {
  text-decoration: none;
  color: var(--color-1);
}
.footer-top-right-info > p:hover a {
  color: var(--color-2);
}

/* footer-bottom */
.footer-bottom {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 80px;
}
.footer-bottom svg {
  width: 16px;
  height: 16px;
  color: var(--color-6);
}

/* footer-bottom-left */
.footer-bottom-left {
  display: flex;
  gap: 10px;
}
.footer-bottom-left-social-icon a {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--color-1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom-left-social-icon svg {
  color: var(--color-4);
}
.footer-bottom-left-social-icon:hover a {
  background-color: var(--color-2);
}

/* footer-bottom-center */
.footer-bottom-center {
  text-align: center;
}

/* footer-bottom-right */
.footer-bottom-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 1024px) {
  .header-top,
  .footer-top {
    padding-inline: 10px;
  }
  .header-top {
    justify-content: center;
  }
  .header-top nav {
    display: none;
  }

  .toggle-menu-icon {
    display: block;
  }
  .header-buttom-menu {
    display: none;
  }
  .header-bottom-details {
    background-color: var(--color-1);
  }
  .header-bottom-slider {
    padding-top: 80px;
    width: 100%;
  }
  .footer-top,
  .footer-top-center {
    grid-template-columns: 1fr;
  }

  .footer-top-left-icon {
    flex-direction: column;
  }
  .footer-bottom {
    align-items: center;
    justify-items: center;
  }
  .footer-bottom-right {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 500px) {
  .header-top-inner {
    padding: 0px;
  }
}
