@import "leaflet/dist/leaflet.css";

.checkout-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding-block: 20px;
}
.checkout {
  width: 60%;
  background-color: var(--color-19);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.checkout-progress-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 20px 0;
}

/* --- circles --- */
.progress-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #d1d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: #fff;
  color: #888;
  transition: 0.3s ease;
  cursor: pointer;
}

.progress-circle.active {
  border-color: var(--color-2);
  background: var(--color-2);
  color: var(--color-1);
}

/* --- line --- */
.progress-line {
  width: 80px;
  height: 4px;
  border-radius: 2px;
  background: #d1d1d1;
  transition: background 0.3s ease;
}

.progress-line.active {
  background: var(--color-2);
}

.checkout-form {
  background-color: var(--color-19);
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  backdrop-filter: blur(12px);
  position: relative;
}
.form-group {
  width: 100%;
}

.form-group label {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.form-group label input,
.form-group label select {
  flex: 1;
  padding: 10px;
  border: none;
  outline-color: var(--color-2);
  border-color: var(--color-2);
  caret-color: var(--color-2);
}
.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 90%;
}
.btn {
  padding: 10px 18px;
  border: none;
  cursor: pointer;
  width: 40%;
  color: var(--color-1);
  font-size: 1rem;
  background-color: var(--color-6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn.active {
  background: var(--color-2);
}
.btn.active:hover {
  background: var(--color-6);
}
@media screen and (max-width: 768px) {
  .checkout {
    width: 100%;
  }
}
