.discount-wrapper {
  width: 100%;
  margin-top: 20px;
}
.discount-item {
  background-color: var(--color-3);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  padding-block: 30px;
  font-size: 1.2rem;
  color: var(--color-16);
  letter-spacing: 1px;
  text-align: center;
}
.discount-item-right span {
  color: var(--color-7);
  font-weight: 600;
  letter-spacing: 0.3px;
}
.discount-item-center span a {
  color: var(--color-7);
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.5px;
  border-style: dashed;
  border-width: 2px 2px 2px 2px;
  padding: 5px 15px;
  text-decoration: none;
}
