.cart-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.cart-wrapper-message {
  font-size: 2rem;
  color: var(--color-12);
  font-weight: bold;
}
.cart-summery {
  background-color: var(--color-1);
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.table-wrapper {
  width: 100%;
  max-width: 100%;
  overflow-y: auto;
}
.table-wrapper table {
  width: 100%;
  border: none;
  text-align: center;
  border-collapse: collapse;
  justify-content: center;
}
.table-wrapper table thead {
  background-color: var(--color-19);
  border-collapse: collapse;
}
.table-wrapper table thead th {
  padding: 12px;
  text-align: center;
}
.table-wrapper table tbody tr:not(:last-child) {
  border-bottom: 1px solid var(--color-17);
}
.table-product-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.table-product-wrapper p a {
  text-decoration: none;
  color: var(--color-4);
}
.table-product-wrapper p:hover a {
  color: var(--color-2);
}
.table-product-wrapper-media {
  width: 100px;
  height: 100px;
}
.table-product-wrapper-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.table-product-wrapper button {
  border: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  & svg {
    color: var(--color-7);
    width: 18px;
    height: 18px;
  }
}

.table-product-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--color-17);
  padding: 5px 10px;
  border-radius: 8px;
}

.table-product-cart button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: var(--color-6);
  color: var(--color-1);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.table-product-cart button:hover {
  background-color: var(--color-2);
}

.table-product-cart span {
  min-width: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
.cart-summery-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  font-weight: bold;
  font-size: 1.5rem;
}
.main-total {
  background-color: var(--color-19);
}
.cart-summery-total :last-child {
  color: var(--color-2);
}
.cart-summery-checkout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  color: var(--color-1);
  text-decoration: none;
  background-color: var(--color-2);
  width: 40%;
  margin-bottom: 10px;
  &:hover {
    background-color: var(--color-6);
  }
}
@media screen and (max-width: 900px) {
  .cart-summery {
    width: 100%;
  }

  .table-product-wrapper {
    width: 100%;
    justify-content: flex-start;
    gap: 10px;
  }

  .table-product-wrapper-media {
    width: 80px;
    height: 80px;
  }

  .table-product-wrapper p {
    flex: 1;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cart-checkout {
    width: 100%;
  }
}
