.aboutus-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  & p {
    color: var(--color-12);
    line-height: 2;
  }
}
/* Tab */
.aboutus-tab-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutus-tab {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 50%;
  gap: 10px;
}
.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 15px;
  font-weight: bold;
  letter-spacing: 1.2px;
}
.tab-details {
  width: 100%;
  background-color: var(--color-14);
  padding: 20px;
}
.tab.active {
  background-color: var(--color-14);
  color: var(--color-2);
}
/* info */
.aboutus-info-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.aboutus-info {
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.aboutus-info button {
  padding: 10px 18px;
  border: none;
  cursor: pointer;
  width: 40%;
  color: var(--color-1);
  font-size: 1rem;
  background-color: var(--color-6);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  min-width: 300px;
}
.aboutus-info button a {
  text-decoration: none;
  color: var(--color-1);
}
.aboutus-info button:hover {
  background-color: var(--color-2);
}
.accordion-wrapper {
  width: 100%;
  background-color: var(--color-14);
  padding: 10px;
}
@media screen and (max-width: 900px) {
  .aboutus-info {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .aboutus-tab {
    width: 100%;
  }
}
