.accordion {
  width: 100%;
}
.accordion-item {
  width: 100%;
  padding: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.accordion-title {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: var(--color-1);
  font-weight: bold;
}
.accordion-title svg {
  width: 14px;
  height: 14px;
  transition: transform 0.3s ease;
}
.accordion-title.active svg {
  transform: rotate(180deg);
}
.accordion-content {
  padding: 10px;
}
.accordion-title.active {
  color: var(--color-2);
}
