.details-product-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.details-product {
  display: flex;
  gap: 20px;
  padding-block: 20px;
  justify-content: center;
  padding: 10px;
}
.details-product-img {
  width: 50%;
  height: auto;
}

.details-product-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

/* swiper */
.product-Swiper.main-swiper {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.product-Swiper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.product-Swiper.thumbs-swiper {
  height: 100px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-Swiper.thumbs-swiper img {
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}
.product-Swiper.thumbs-swiper .swiper-wrapper {
  justify-content: center;
}
.product-Swiper.main-swiper .swiper-button-prev,
.product-Swiper.main-swiper .swiper-button-next {
  color: var(--color-12); /* رنگ دلخواه */
}

/* cart */
.details-product-cart-wrapper {
  width: 100%;
  display: flex;
  padding: 10px;
}

.details-product-cart-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.details-product-cart {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--color-21);
  padding: 5px 10px;
  border-radius: 8px;
}

.details-product-cart button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: var(--color-6);
  color: var(--color-1);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.details-product-cart button:hover {
  background-color: var(--color-2);
}

.details-product-cart span {
  min-width: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.details-product-add {
  padding: 8px 20px;
  border: none;
  background-color: var(--color-6);
  color: var(--color-1);
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  flex: 1;
}

.details-product-add:hover {
  background-color: var(--color-2);
}
.details-product-discount {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 1.4rem;
  & ins {
    text-decoration: none;
    color: var(--color-2);
  }
  & del {
    color: var(--color-13);
  }
}
@media screen and (max-width: 1024px) {
  .details-product {
    flex-direction: column;
  }
  .details-product-info,
  .details-product-img {
    width: 100%;
  }
}
